@import "tailwindcss";

html {
    scroll-behavior: smooth;
}

@theme {
    --animate-smallBounce: bounce 1s ease-in-out infinite;

    @keyframes bounce {
        0%, 100% {
                transform: translateY(-8%);
                animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
        }
        50% {
                transform: none;
                animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
        }
    }

    --color-dark: #050c17;
    --color-secondary: #212731;
    --color-lighterSecondary: #3a4452;
    --color-accent: #FED766;
    --color-primary: #009FB7;
    --color-darkerPrimary: #007a8a;
    --color-light: #EFF1F3;
}
